<div class="container-fluid">
  <div class="row">
    <div class="col-md-5" style="padding-left: 0px; padding-right: 0px">
      <div *ngIf="stop">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="goBack()" data-toggle="tooltip" data-placement="top" title="Back to route {{route.number}}">← {{route.number}} {{route.type}}</button>
              <button type="button" class="btn btn-secondary btn-sm" routerLink="../../../../stops/{{stop.id}}" data-toggle="tooltip" data-placement="top" title="All routes for this stop">{{stop.name | uppercase}} →</button>
            </div>
          </div>
        </nav>
        <ul class="times">
          <h6>Weekdays</h6>
          <li *ngFor="let timeW of time.timesW">
            <span>{{timeW | convertTime}}</span>
          </li>
          <h6>Holidays</h6>
          <li *ngFor="let timeH of time.timesH">
            <span>{{timeH | convertTime}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-7" style="padding-left: 0px; padding-right: 0px">
      <app-mapviewer></app-mapviewer>      
    </div>
  </div>
</div>