<nav class="navbar navbar-expand-xs navbar-dark bg-dark" style="padding: 5px">
  <span class="navbar-brand" style="padding: 0px; margin-right: auto; width: 206px">
      <h3 style="color: azure">
          {{title}}
      </h3>
  </span>
  <span class="navbar-brand" style="padding: 0px">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button type="button" class="btn btn-secondary btn-md" routerLink="/routes">Routes</button>
        <button type="button" class="btn btn-secondary btn-md" routerLink="/stops">Stops</button>
      </div>
    </div>
  </span>
  <span class="navbar-brand" style="padding: 0px; margin-left: auto; width: 206px; text-align: right">
    <h3 style="color: azure">
      {{currentTime | date:'E HH:mm'}}
    </h3>
  </span> 
</nav>
<router-outlet></router-outlet>