<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <span class="navbar-brand mr-auto">
      <h1 style="color: azure">
          {{title}}
      </h1>
  </span>  
  <span class="navbar-text">
    <h1 style="color: azure">
      {{currentTime | date:'E HH:mm'}}
    </h1>
  </span> 
</nav>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" routerLink="/routes">Routes</a></li>
      <li class="page-item"><a class="page-link" routerLink="/stops">Stops</a></li>
      <li class="page-item"><a class="page-link" routerLink="/map">Map</a></li>
    </ul>
  </nav>
</nav>
<router-outlet></router-outlet>