<div class="container-fluid">
  <div class="row">
    <div class="col-md-5" style="padding-left: 0px; padding-right: 0px">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-secondary btn-sm" (click)="selectBus()">Bus</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="selectTram()">Tram</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="selectTrol()">Trolley</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="selectUndr()">Underground</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="selectAll()">All</button>
          </div>
        </div>
      </nav>
      <h2>Routes</h2>
      <app-route-search></app-route-search>
      <ul class="routes">
        <li *ngFor="let route of routes | sortPipeNumber : 'number'">
          <a routerLink="/routes/{{route.id}}"><span class="badge">{{route.number}} {{route.type}} </span>{{route.name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-7" style="padding-left: 0px; padding-right: 0px">
      <app-mapviewer></app-mapviewer>      
    </div>
  </div>
</div>
