<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="padding-left: 0px; padding-right: 0px">
      <div *ngIf="stop">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
              <button type="button" class="btn btn-secondary btn-sm" (click)="goBack()" data-toggle="tooltip" data-placement="top" title="To previous view">←</button>
              <button type="button" class="btn btn-secondary btn-sm disabled" style="opacity: unset">{{stop.name | uppercase}}</button>
              <button type="button" class="btn btn-secondary btn-sm" (click)="refresh()" routerLink="/stops/{{stop.revId}}" data-toggle="tooltip" data-placement="top" title="Switch direction">↕</button>
            </div>
          </div>
        </nav>
        <ul class="routes">
          <li *ngFor="let route of routes | sortPipeNumber: 'id'">
            <a routerLink="/routes/{{route.id}}"><span class="badge">{{route.number}} {{route.type}}</span> {{route.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8" style="padding-left: 0px; padding-right: 0px">
      <app-mapviewer [singleStop]="stop" [routes]="routes"></app-mapviewer>      
    </div>
  </div>
</div>