<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="group">
      <button type="button" class="btn btn-secondary btn-sm" (click)="selectFind()">Find Route/Stop</button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="selectLay()">Lay the Trip</button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
        <h2>Map</h2>
        <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
    </div>
    <div class="col">
      <div [ngSwitch]="selector">
        <ng-template [ngSwitchCase]="'find'">
          
        </ng-template>
        <ng-template [ngSwitchCase]="'lay'">
          
        </ng-template>
      </div>
    </div>
  </div>
</div>